/* lib css */
@import url(../lib/combobox/css/combobox.css);


/* base css */
@import url(../css/base/icon.css);
@import url(../css/base/button.css);
@import url(../css/base/contextmenu.css);
@import url(../css/base/datepicker.css);
@import url(../css/base/input.css);
@import url(../css/base/popup.css);
@import url(../css/base/checkbox.css);
@import url(../css/base/radio.css);
@import url(../css/base/form.css);
@import url(../css/base/table.css);
@import url(../css/base/pagenavigation.css);
@import url(../css/base/spinner.css);

/* layout css */
@import url(../css/layout/content.css);
@import url(../css/layout/header.css);
@import url(../css/layout/navbar.css);

/* khai báo biến màu sắc 
    dùng màu chủ đạo là màu
    Light green  theo trang MISA design system
*/
* {
  --LightGreen500: #50b83c;
  --LightGreen600: #409330;
  --LightGreen700: #306f24;
  --LightGreen800: #204918;
  --LightGreen900: #10250c;
  --LightGreen400: #73c663;
  --LightGreen300: #96d58a;
  --LightGreen200: #b9e2b1;
  --LightGreen100: #dcf1d8;
  --LightGreen50: #eef8ec;
  --IconSize: 20px;
  --ColorTilte: #000000;
  --ColorPrimaryText: #212121;
  --ColorSecondaryText: #666666;
  --ColorDisable: #9e9e9e;
  --ColorAlt: #505050;
  --ColorBorder: #e0e0e0;
  --ColorHover: #58595D;
  --ColorBackground: #f7f7f7;
  --ColorBackgroundWhite: #ffffff;
  --ColorPrimaryTextWhite: #dbdee3;
  --ColorThead: #EDEEF2;
  --ColorTableHover: #F8F8F8;
  --ColorSecondTextWhite: #7b8798;
  --ColorAlert: #eb3333;
  --BorderRadius: 4px;
}

/* đổi màu mặc định tabindex */
/* 
*:focus {
    outline: 1px solid var(--LightGreen500);
} */

/* reset css và thiết lập font mặc định */
body {
  margin: 0;
  padding: 0;
  font-family: notosan-regular;
  font-size: 14px;
  width: 100%;
  height: 100vh;
}


.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: notosan-regular;
  src: url(/assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
  font-family: notosan-italic;
  src: url(/assets/fonts/notosans-italic.1c1aaac9.woff2);
}

@font-face {
  font-family: notosan-semibold;
  src: url(/assets/fonts/notosans-semibold.df3e6dc4.woff2);
}

@font-face {
  font-family: notosan-bold;
  src: url(/assets/fonts/notosans-bold.3ede5aff.woff2);
}

/* Tùy chỉnh thanh cuộn */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--ColorBackgroundWhite);
}

/* Handle */
::-webkit-scrollbar-thumb {
  margin-right: 8px;
  background: var(--ColorDisable);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Tùy chỉnh bôi đen văn bản thành k có */
* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* 
  Thêm css cho phần title của mỗi element
*/

*[data-title]:hover::after{
  content: attr(data-title);
  background-color: var(--ColorAlt);
  color: var(--ColorBackgroundWhite);
  width: max-content;
  text-transform: none;
  position: absolute;
  padding: 4px 10px;
  top: calc(100% + 15px);
  right: 5px;
  z-index: 3;
  font-weight: 500;
  font-size: 14px;
}